@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-background: rgba(37 34 30 / .07);   
  --color-container-light-blue: #ebf5f0;   
  --color-container-gray: #F9F7F6;

  /* Màu chữ */
  --color-text-main: #25221E;    
  --color-text-secondary: rgba(37 34 30 / .66);  

  /* Màu nút / link / accent */
  --color-accent: #e34432;       
  --color-accent-hover: #cf3520;     

  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

div{
  margin: 0;
  padding: 0;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1{
  font-size: var(--h1-font-size);
}

h2{
  font-size: var(--h2-font-size);
}

h3{
  font-size: var(--h3-font-size);
}

#root, #__next {
  isolation: isolate;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

/* container */

.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.sidebar{
  --color-text-secondary: rgba(37, 34, 30, 0.932);
  --color-background: #fff2eca5;
  --font-regular: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-regular);
  color: var(--color-text-secondary);
  background-color: var(--color-background);
  font-size: var(--h2-font-size);
}

.user{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 1rem 0;
}

.user i{
  font-size: var(--h1-font-size);
}

.default{
  width: 90%;
}

.default .sidebar_item{
  --color-accent: #e3443235;
  border: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  gap: .9rem;
  padding: 0.4rem;
  border-radius: 10px;
  transition: 0.2s ease;
}

.default .sidebar_item:hover{
  background-color: var(--color-accent);
  color: #e34432;
}

.sidebar h1,
.sidebar h2,
.sidebar h3{
  font-weight: var(--font-semi-bold);
}

#Add_project{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: var(--h1-font-size);
  color: var(--color-accent);
  align-items: center;
  transition: 0.2s ease;
  padding: .4rem;
  border-radius: 10px;
}

#Add_project:hover{
  background-color: #e3443235;
}

/* content */

.content{
  --color-background: white;   
  background-color: var(--color-background);
  padding: 0rem 4rem;
}

.project_name{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.project_name i{
  font-size: var(--bigger-font-size);
}

.todo_name{
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.todo_name h2{
  font-weight: 600;
}

.todo_name i{
  font-size: var(--h2-font-size);
}

.task {
  --normal-font-size: 1.2rem;
  display: flex;
  height: 6rem;
  font-size: var(--normal-font-size);
  border-top: 1px solid #a1a1a1;
  padding: 1rem 0;
}

.third{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.third a{
  color: var(--color-text-secondary);
}

.first{
  padding-right: 1.5rem;
}

.second{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* check box */
input[type="checkbox"] {
  --color-accent: #e344329d;
  -webkit-appearance: none;
  appearance: none;

  width: 1.8rem;
  height: 1.8rem;
  border: 1.5px solid rgb(123, 123, 123);
  border-radius: 50%; /* vòng ngoài tròn */
  position: relative;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-accent);
  border-radius: 50%; /* 🔥 chấm bên trong tròn */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  pointer-events: none;
}

input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.add_task{
  --color-accent: #e34432b2;
  color: var(--color-accent);
  border: none;
  background-color: inherit;
  font-size: var(--h1-font-size);
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: 0.3s ease;
}

.add_task:hover{
  color: var(--color-accent-hover);
  cursor: pointer;
}

.add_task i{
  font-size: var(--bigger-font-size);
}

.btn{
  border: none;
  background-color: transparent;
}

.title{
  font-size: var(--h1-font-size);
  font-weight: 500;
}

.priority{
  color: var(--color-accent);
}

.second .time{
  color: rgb(14, 160, 101);
  display: flex;
}